body {
    margin: 0px auto 0px auto;
    background-color:#06283D;
}
.cus_search{
    min-height:68vh;
}

div>div{
    margin: 15vh 20% 20vh 20%;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.search div {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 98%;
}


td {
    padding-top: 5px;
    padding-bottom: 5px;
}

th,td {
    padding-left: 15px;
    text-align: left;
}

.search-table tr {
    border-bottom: 1px solid #ddd;
}

.search-table tr:hover {
    background-color: whitesmoke;
}

img {
    width: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin: 0px 20px 50px 20px;
    padding: 20px;
    background-color: #DFF6FF;

}

.h {
    font-size: 25px;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

.submit-button {
    background-color: #1363DF; 
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.name-or-tel {
    margin-bottom: 10px;
}

@media (max-width: 480px){
    .search {
        margin: 15vh 20% 20vh 20%;
        padding: 5%;
        
        border-radius: 10px;
        text-align: center;
    }
    .cus_search{
        min-height:30vh;
    }
    table {
        border-collapse: separate;
        border-spacing: 10px;
    }
    
}
@media (max-height: 686px) and (max-width: 786px) {
    .search {
        margin: 15vh 20% 20vh 20%;
        padding: 5%;
        
        border-radius: 10px;
        text-align: center;
    }
    .cus_search{
        min-height:20vh;
    }
    table {
        border-collapse: separate;
        border-spacing: 10px;
    }
}