* {
    font-family: 'Prompt';
}
.register{display: block;
margin-bottom: 50px;
justify-content: center;
background-color:white;
margin: 130px 500px 193.8px;
padding: 5%;
border-radius: 10px;
}
body {
    margin: 0px auto 0px auto;
    background-color: #06283D;
}
h1{ 
text-align: center;
font-size: 72px;
color:white;
}

